*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    }
    body{

       font-size: 15px;

    }
    .poke{
        font-family: 'Poppins', sans-serif;
        margin: 0 20px;


        line-height: 70px;
        font-weight: bold;
        font-size: 25px;
    }
    header nav a{

        color: aliceblue;

    }

    .ini{
        font-family: 'Poppins', sans-serif;
        margin: 0 30px;
        float:right;

        margin-top: 20px;
        border-radius: 3px;


    }
    .ini:hover{
        background-color: #fff;
        color: #3B4CCA;
        transition: .5s;
        padding: 0px 3px;

    }


     nav {
       background-color: #3B4CCA;
     height: 70px;
       width: 100%;
       top: 0;
       left: 0;

       position: fixed;

    }

    .menu_pokebola{
    width: 50px;
    object-fit: content;

    padding-top:10px;
    margin-left: 30px;
    float: left;
    line-height: 70px;
    }




    .img1{
        width: 40px;
        height: 40px;
    }

    #items{
        margin-left: 10px;
        margin-top: 25px;
    }

    #pokebola{
        margin-left: 20px;
    }

    .bulbasaur{
        width: 300px;
        margin-top: 100px;
    }

    .pokemones{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .pikachu{
        margin-left: -160px;
    }

    #bulbasaur{
        margin-top: 115px;
    }

    #cuadro{
        background-color: #3B4CCA;
        width: 600px;
        height: 100px;
        font-family: 'ubuntu', sans-serif;
        font-size: 25px;
        color: white;
        border-radius: 30px;
        border-left: 20px;
        margin-top: -120px;
        justify-items: center;
        text-align: center;
    }

    #sigue{
        margin-top:20px ;
    }

    .iniciar{
        font-family: 'poppins', sans-serif;
        width: 1000px;
        margin: 10px auto;
        margin-left: 300px;
    }

    .nombrecontra{
        padding: 10px;
        margin-top: 20px;
        width: 300px;
        margin-left: -20px;
        border-radius: 10px;
        justify-content: space-between;

    }

    #nombre{
        margin-top: -15px;
    }

    .espacio1{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 100px;
        margin-top: -20px;
    }

    .recordar{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        height: 20px;

    }

    #espacio2{
        margin-left: 100px;

    }

    #nombrecontra{
        margin-top: -60px;
    }

    #boton1{
        display: flex;
        flex-direction: column;
       margin-top: 150px;
        margin-left: 110px;
        width: 400px;
        height: 100px;
    }

    #titulo1{
        margin-left: 350px;
        margin-top: 40px;
        height: 20px;
    }

.norecuerda{
    margin-top: -100px;
}

/*#boton2:hover{
    background-color: #3B4CCA;
    color: #fff;
    transition: .5s;}*/

.abrircon:hover{
    background-color: #3B4CCA;
    color: #fff;
    transition: .5s;

}

#google, #facebook{
    width: 20px;
    height: 20px;

}

.abrircon{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
    border:transparent;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -30px;
    margin-top: 10px;
    height: 50px;
    text-decoration: none;


}
#abrircon{
    margin-left: 200px;
    margin-top: 80px;
    text-decoration: none;
    padding-bottom: 20px;


}

.facebook{
    margin-top:-70px;
    display:flex;
    margin-left: 350px;
    padding: 10px;
    height: 70px;

}

#texto2{
    margin-left: 10px;
    text-decoration: none;
}

.nocuenta{
    margin-left: 20vw;
    margin-top: 80px;
}

#espacio3{
    margin-left: -745px;
    margin-bottom: -200px;
}

#dividir{
    display: flex;
    flex-direction: row;
}

.nocuenta{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom:80px;
}

#cuenta{
    margin-top: -0px;
}

#link{
    margin-left: 10px;

}
h3{
    text-align: left;
}
.iniciarycorreo{
    margin-left: -80px;
    margin-top: 100px;
}
.contrasena{
    margin-top: 80px;
    margin-left: 80px;
}
.check{
    margin-left: 450px;

    margin-top: -180px;
}

.gooface{
    margin-top: -45px;
    margin-left: -60px;

}
#google{
    width: 40px;
    height: 40px;
}
#facebook{
    width: 40px;
    height: 40px;
}

.activarButton{
    border-radius: 15px;
    background-color: #FF1C1C;
    color: white;
    border:transparent;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 120px;
    margin-top: 30px;
    height: 40px;
}

.deButton{
    background-color: rgb(182, 182, 182);
    color: white;
    border-radius: 15px;
    border:transparent;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 120px;
    margin-top: 30px;
    height: 40px;
     }

     .nombre{
        padding: 10px;
        margin-top: 20px;
        width: 300px;
        margin-left: -20px;
        border-radius: 10px;

    }

    .contra{
        padding: 10px;
        margin-top: 20px;
        width: 300px;
        margin-left: -20px;
        border-radius: 10px;

    }

    .mail{
        padding: 10px;
        margin-top: 20px;
        width: 300px;
        margin-left: -20px;
        border-radius: 10px;

    }

    #boton2{
        margin-top: 15px;
        margin-left: 15px;
    }